<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <h6 class="text-white">K</h6>
            </span>
            <span class="logo-lg pt-4 pb-3">
                <h6 class="text-white">Karir Dashboard</h6>
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <h6 class="text-white">K</h6>
            </span>
            <span class="logo-lg">
                <h6 class="text-white pt-4 pb-3">Karir Dashboard</h6>
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/" >
                        <i class="mdi mdi-speedometer"></i> <span>Dashboards</span>
                    </a>
                    <a class="nav-link menu-link" href="/raw_journal/monitoring" >
                        <i class="ri-dashboard-line"></i> <span>Monitoring</span>
                    </a>

                </li> <!-- end Dashboard Menu -->


                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarApplicant" data-bs-toggle="collapse" role="button"
                    aria-expanded="false"
                    aria-controls="sidebarApplicant">
                    <i class="ri-user-line"></i>
                        <span>Applicant</span>
                    </a>
                    <div class="collapse menu-dropdown show"
                        id="sidebarApplicant">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/resume" class="nav-link active">
                                    Resume
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/application" class="nav-link">
                                    Application
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarCompany" data-bs-toggle="collapse" role="button"
                    aria-expanded="false"
                    aria-controls="sidebarCompany">
                    <i class="ri-building-line"></i>
                        <span>Company</span>
                    </a>
                    <div class="collapse menu-dropdown "
                        id="sidebarCompany">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/company" class="nav-link">
                                    Company
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/opportunity" class="nav-link">
                                    Opportunity
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarMembership" data-bs-toggle="collapse" role="button"
                    aria-expanded="false"
                    aria-controls="sidebarMembership">
                    <i class="ri-vip-line"></i>
                        <span>Membership</span>
                    </a>
                    <div class="collapse menu-dropdown "
                        id="sidebarMembership">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/inquiry" class="nav-link">
                                    Inquiry
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/package_order" class="nav-link">
                                    Package Order
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/membership" class="nav-link">
                                    Membership
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDatabase" data-bs-toggle="collapse" role="button"
                    aria-expanded="false"
                    aria-controls="sidebarDatabase">
                    <i class="ri-database-line"></i>
                        <span>Database</span>
                    </a>
                    <div class="collapse menu-dropdown "
                        id="sidebarDatabase">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/job_level" class="nav-link">
                                    Job Level
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/job_type" class="nav-link">
                                    Job Type
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/job_function" class="nav-link ">
                                    Job Function
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/industry" class="nav-link ">
                                    Industry
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/major" class="nav-link">
                                    Major
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/skill" class="nav-link ">
                                    Skill
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/language" class="nav-link ">
                                    Language
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/country" class="nav-link ">
                                    Country
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/province" class="nav-link ">
                                    Province
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/city" class="nav-link ">
                                    City
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/village" class="nav-link ">
                                    Village
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/intelligence_quest" class="nav-link ">
                                    Intelligence question
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/communication_quest" class="nav-link ">
                                    Communication question
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/interest_quest" class="nav-link ">
                                    Interest question
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarContent" data-bs-toggle="collapse" role="button"
                    aria-expanded="false"
                    aria-controls="sidebarContent">
                    <i class="ri-file-line"></i>
                        <span>Content</span>
                    </a>
                    <div class="collapse menu-dropdown "
                        id="sidebarContent">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/banner" class="nav-link">
                                    Slide Banner
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/post" class="nav-link">
                                    News Post
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSetting" data-bs-toggle="collapse" role="button"
                    aria-expanded="false"
                    aria-controls="sidebarSetting">
                    <i class="ri-settings-2-line"></i>
                        <span>Setting</span>
                    </a>
                    <div class="collapse menu-dropdown "
                        id="sidebarSetting">
                        <ul class="nav nav-sm flex-column">

                            <li class="nav-item">
                                <a href="/price_limit" class="nav-link ">
                                    Price and Limit
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/logs" class="nav-link ">
                                    Logs
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
